h2#title Where Medicaid cuts would hit <span class="nobreak">Trump supporters hardest</span>

table.key
    tbody
        tr
            td.y-label(rowspan = 4) ↑<br />% covered<br />by Medicaid*
        tr
            td.cell.high_low &nbsp;
            td.cell.high_mid &nbsp;
            td.cell.high_high &nbsp;
        tr
            td.cell.mid_low &nbsp;
            td.cell.mid_mid &nbsp;
            td.cell.mid_high &nbsp;
        tr
            td.cell.low_low &nbsp;
            td.cell.low_mid &nbsp;
            td.cell.low_high &nbsp;
        tr
            td &nbsp;
            td.x-label(colspan = 3) % that voted for Trump →
            
div#graphic

div.footer
    div.left
        div Quartz | qz.com
    div.right
        div Data: <a href="http://uselectionatlas.org/">US Election Atlas</a> and US Census Bureau pooled estimates of Medicaid coverage for 2011-2015. The estimates may also include other low-income public health programs. Data is incomplete for Alaska and a handful of other counties.

p &nbsp;
