@import 'maps/base'

$low_low = #e8e8e8
$low_mid = #ace4e4
$low_high = #5ac8c8
$mid_low = #dfb0d6
$mid_mid = #a5add3
$mid_high = #5698b9
$high_low = #be64ac
$high_mid = #8c62aa
$high_high = #3b4994
$nodata = #f8f8f8

h2
	text-align: center
	padding-bottom 15px

span.nobreak
	white-space: nowrap;

table.key
	width 500px
	margin 0 auto
	font-family $qz-sans
	font-size 16px
	color $qz-chart-axis-text

	td
		width 22%

		&.y-label
			width 34%
			text-align right
			padding-right 5px

		&.cell
			border-color $qz-map-land-stroke
			border-width 1px

			&.low_low
				background-color $low_low

			&.low_mid
				background-color $low_mid

			&.low_high
				background-color $low_high

			&.mid_low
				background-color $mid_low

			&.mid_mid
				background-color $mid_mid

			&.mid_high
				background-color $mid_high

			&.high_low
				background-color $high_low

			&.high_mid
				background-color $high_mid

			&.high_high
				background-color $high_high

// Paths
.paths
	.states path
		fill none
		stroke black
		stroke-width 1.25px

	.counties path
		fill $qz-map-land-fill
		stroke $qz-map-land-stroke
		stroke-width 0.25px

		&.low_low
			fill $low_low

		&.low_mid
			fill $low_mid

		&.low_high
			fill $low_high

		&.mid_low
			fill $mid_low

		&.mid_mid
			fill $mid_mid

		&.mid_high
			fill $mid_high

		&.high_low
			fill $high_low

		&.high_mid
			fill $high_mid

		&.high_high
			fill $high_high

		&.nodata
			fill $nodata

// Labels
.labels
	text
		fill $qz-gray-2
		font-size 80%
		text-anchor start
		alignment-baseline: middle
		-webkit-font-smoothing antialiased

.footer
	margin 0
	padding 0
	font-family $qz-sans
	color $qz-gray-2
	font-size 14px
	width: 100%

	div
		float: left

		&.left
			width: 30%

			div
				text-align: left
				padding-left: 5px

		&.right
			width: 70%

			div
				text-align: right
				padding-right 5px

	&:after
		content: ""
		display: table
		clear: both

@media screen and (max-width $width-mobile)
	table.key
		width 320px
		font-size 14px

	.paths
		.states path
			stroke-width 0.4px

		.counties path
			stroke-width 0.15px
